.form {
  display: flex;
  width: 50%;
  padding-bottom: 5px;
  padding-top: 10px;
  margin: auto;
}

.form input[type="text"] {
  flex: 10;
  padding: 5px;
}

.form input[type="submit"] {
  flex: 2;
}

.submitbutton {
  border-radius: 0 3px 3px 0;
}

.textinput {
  border-radius: 2px;
}
